<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<log4net>
		<appender name="FullBufferingFileAppender" type="log4net.Appender.BufferingForwardingAppender">
			<bufferSize value="200" />
			<appender-ref ref="FullFileAppender" />
		</appender>
		<appender name="FullFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="%property{logDirectoryPath}\Dispatcher-" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<staticLogFileName value="false" />
			<datePattern value="ddMMyyyy" />
			<CountDirection value="1" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="100MB" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.ff} [%thread] %message%newline" />
			</layout>
		</appender>
		<logger name="Dispatcher">
			<appender-ref ref="FullFileAppender" />
		</logger>
	</log4net>
	<runtime>
		<loadFromRemoteSources enabled="true" />
	</runtime>
	<appSettings>
		<add key="CentralLogging.SubsystemType" value="MG.Dispatcher" />
	</appSettings>
</configuration>