<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Armin.Utils" version="2021.4.10.222609" targetFramework="net452" />
  <package id="Armin.Utils.WinForm" version="2021.4.11.32844" targetFramework="net452" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net45" />
  <package id="Fody" version="4.2.1" targetFramework="net45" developmentDependency="true" />
</packages>