<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Endpoint" value="DefaultBinding_IESPPListener_IESPPListener" />
		<add key="CentralLogging.SubsystemType" value="MG.UPRSGServiceAdapter" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="DefaultBinding_IESPPListener" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="DefaultBinding_IAsyncExec" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint binding="basicHttpBinding" bindingConfiguration="DefaultBinding_IESPPListener" address="http://f-bill-01/FORIS.TelBill.UPRSGateway.Wcf/ESPPListener.svc" contract="IESPPListener" name="DefaultBinding_IESPPListener_IESPPListener" />
			<endpoint binding="basicHttpBinding" bindingConfiguration="DefaultBinding_IAsyncExec" contract="IAsyncExec" name="DefaultBinding_IAsyncExec_IAsyncExec" />
		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>