<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URI" value="tcp://tnf2-bms1:10000/FORIS.BonusSystem.Service.InterfaceProviderWorkItem.rem" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="CentralLogging.SubsystemType" value="MG.BMSServiceAdapter" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
