<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="FORIS.MessagingGateway.Emulator.EmulatorService" behaviorConfiguration="mgServiceBehaviour">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8054/EmulatorService" />
					</baseAddresses>
				</host>
				<endpoint name="wsEmulatorWcfService" address="" binding="basicHttpBinding" bindingConfiguration="mainHttpBinding" contract="FORIS.MG.Interfaces.IEmulatorService">
				</endpoint>
				<endpoint name="tcpEmulatorWcfService" address="net.tcp://localhost:8055/EmulatorService" binding="netTcpBinding" bindingConfiguration="mainTcpBinding" contract="FORIS.MG.Interfaces.IEmulatorService">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mgServiceBehaviour">
					<serviceMetadata httpGetEnabled="True" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<serviceDebug includeExceptionDetailInFaults="True" />
					<serviceThrottling maxConcurrentCalls="32" maxConcurrentSessions="32" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="mainHttpBinding" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxReceivedMessageSize="4294967296" transferMode="Streamed">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="TransportCredentialOnly">
						<transport proxyCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="mainTcpBinding" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" transactionFlow="true" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<appSettings>
		<add key="CentralLogging.SubsystemType" value="MG.Emulator" />
	</appSettings>
</configuration>