<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ESNTrackerURI" value="http://localhost:4804/WebSite1/Default.aspx" />
		<add key="Proxy" value="" />
		<add key="CentralLogging.SubsystemType" value="MG.ESNServiceAdapter" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>