<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URI_SPA" value="tcp://tnf2-clust-ri.tnf-frs.mts.com.ua:25192/ServiceProvisioningService" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="CentralLogging.SubsystemType" value="MG.RIServiceAdapter" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
