<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Username" value="Ussdnavig"/>
		<add key="Password" value="ussdnavig"/>
		<add key="Endpoint" value="RemoteInvokeServiceSoap12"/>
		<add key="Username:SCP1" value="Ussdnavig"/>
		<add key="Password:SCP1" value="ussdnavig"/>
		<add key="Endpoint:SCP1" value="RemoteInvokeServiceSoap12"/>
		<add key="Username:SCP2" value="Ussdnavig"/>
		<add key="Password:SCP2" value="ussdnavig"/>
		<add key="Endpoint:SCP2" value="RemoteInvokeServiceSoap12_SCP_02"/>
		<add key="Username:SCP3" value="Ussdnavig"/>
		<add key="Password:SCP3" value="ussdnavig"/>
		<add key="Endpoint:SCP3" value="RemoteInvokeServiceSoap12_SCP_03"/>
		<add key="Username:SCP4" value="Ussdnavig"/>
		<add key="Password:SCP4" value="ussdnavig"/>
		<add key="Endpoint:SCP4" value="RemoteInvokeServiceSoap12_SCP_04"/>
		<add key="Username:SCP5" value="Ussdnavig"/>
		<add key="Password:SCP5" value="ussdnavig"/>
		<add key="Endpoint:SCP5" value="RemoteInvokeServiceSoap12_SCP_05"/>
		<add key="Username:SCP6" value="Ussdnavig"/>
		<add key="Password:SCP6" value="ussdnavig"/>
		<add key="Endpoint:SCP6" value="RemoteInvokeServiceSoap12_SCP_06"/>
		<add key="Username:SCP_JT" value="Ussdnavig"/>
		<add key="Password:SCP_JT" value="ussdnavig"/>
		<add key="Endpoint:SCP_JT" value="RemoteInvokeServiceSoap12_SCP_JT"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="CentralLogging.SubsystemType" value="MG.MSCPServiceAdapter" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="RemoteInvokeServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="RemoteInvokeServiceSoap12">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					</textMessageEncoding>
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
				</binding>
			</customBinding>
		</bindings>
		<client>
			  <endpoint address="http://172.18.69.73:100/Service.asmx" binding="basicHttpBinding" bindingConfiguration="RemoteInvokeServiceSoap" contract="RemoteInvokeServiceSoap" name="RemoteInvokeServiceSoap"/>
			  <endpoint address="http://172.18.69.73:100/Service.asmx" binding="customBinding" bindingConfiguration="RemoteInvokeServiceSoap12" contract="RemoteInvokeServiceSoap" name="RemoteInvokeServiceSoap12"/>
			  <endpoint address="http://172.18.69.73:100/Service.asmx" binding="customBinding" bindingConfiguration="RemoteInvokeServiceSoap12" contract="RemoteInvokeServiceSoap" name="RemoteInvokeServiceSoap12_SCP_02"/>
			  <endpoint address="http://172.18.69.73:100/Service.asmx" binding="customBinding" bindingConfiguration="RemoteInvokeServiceSoap12" contract="RemoteInvokeServiceSoap" name="RemoteInvokeServiceSoap12_SCP_03"/>
			  <endpoint address="http://172.18.69.73:100/Service.asmx" binding="customBinding" bindingConfiguration="RemoteInvokeServiceSoap12" contract="RemoteInvokeServiceSoap" name="RemoteInvokeServiceSoap12_SCP_04"/>
			  <endpoint address="http://172.18.69.73:100/Service.asmx" binding="customBinding" bindingConfiguration="RemoteInvokeServiceSoap12" contract="RemoteInvokeServiceSoap" name="RemoteInvokeServiceSoap12_SCP_05"/>
			  <endpoint address="http://172.18.69.73:100/Service.asmx" binding="customBinding" bindingConfiguration="RemoteInvokeServiceSoap12" contract="RemoteInvokeServiceSoap" name="RemoteInvokeServiceSoap12_SCP_06"/>
			  <endpoint address="http://tnfscp-v-it01:100/Service.asmx" binding="customBinding" bindingConfiguration="RemoteInvokeServiceSoap12" contract="RemoteInvokeServiceSoap" name="RemoteInvokeServiceSoap12_SCP_JT"/>
		</client>
	</system.serviceModel>
	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>