<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="dictionary" type="ServiceManager.Config.ConnectorDictionarySection, Service Manager"/>
  </configSections>

  <appSettings>
    <add key="LanguageUI" value="ru-RU" />
  </appSettings>

  <!--There are links connector types and file name.-->
  <dictionary>
    <connector type="CRMCON"	file="FORIS.MessagingGateway.CRMConnector.exe" />
    <connector type="SMSCON"	file="FORIS.MessagingGateway.SMSConnector.exe" />
    <connector type="IVRCON"	file="FORIS.MessagingGateway.IVRConnector.exe" />
    <connector type="FAXCON"	file="FORIS.MessagingGateway.FaxConnector.exe" />
    <connector type="EMAILCON"	file="FORIS.MessagingGateway.EmailConnector.exe" />
    <connector type="MMSCON"	file="FORIS.MessagingGateway.MMSConnector.exe" />
    <connector type="DBCON"		file="FORIS.MessagingGateway.DBConnector.exe" />
    <connector type="SOAPCON"	file="FORIS.MessagingGateway.SOAPConnector.exe" />
    <connector type="MONITOR"	file="FORIS.MessagingGateway.Monitor.exe" />
    <connector type="RMTHND"	file="FORIS.MessagingGateway.RemotingHandler.exe" />
    <connector type="MSMQCON"	file="FORIS.MessagingGateway.MSMQConnector.exe" />
    <connector type="WCFHND"	file="FORIS.MessagingGateway.WCFHandler.exe" />
    <connector type="WCFCON"	file="FORIS.MessagingGateway.WCFConnector.exe" />
  </dictionary>

</configuration>