<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Armin.Utils" version="2021.3.13.152358" targetFramework="net462" />
  <package id="Armin.Utils.Media" version="2021.3.13.152919" targetFramework="net462" />
  <package id="Armin.Utils.Messaging" version="2021.3.13.153010" targetFramework="net462" />
  <package id="Armin.Utils.WinForm" version="2021.3.13.153120" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net462" />
</packages>