<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpDefaultBinding_IEquipmentOperations" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcpBindingBigMessage_IEquipmentOperations">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMainService">
                    <reliableSession inactivityTimeout="00:20:00" />
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_IChatService">
                    <reliableSession inactivityTimeout="00:20:00" />
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8040/MainServer" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IMainService" contract="ServiceReference1.IMainService"
                name="WSDualHttpBinding_IMainService" />
            <endpoint address="http://localhost:8040/ChatServer" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IChatService" contract="ServiceReference1.IChatService"
                name="WSDualHttpBinding_IChatService" />
            <endpoint address="http://msk-dev-foris:9245/EquipmentOperations"
                binding="basicHttpBinding" bindingConfiguration="basicHttpDefaultBinding_IEquipmentOperations"
                contract="ServiceReference2.IEquipmentOperations" name="basicHttpDefaultBinding_IEquipmentOperations" />
            <endpoint address="net.tcp://msk-dev-foris:9612/EquipmentOperations"
                binding="netTcpBinding" bindingConfiguration="netTcpBindingBigMessage_IEquipmentOperations"
                contract="ServiceReference2.IEquipmentOperations" name="netTcpBindingBigMessage_IEquipmentOperations">
                <identity>
                    <servicePrincipalName value="host/msk-dev-foris.mtsit.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>