<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogsReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogsReader.Properties.Settings>
            <setting name="COL2" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="COL3" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="COL4" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="COL5" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="COL6" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="COL7" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="FormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1358, 815</value>
            </setting>
            <setting name="COL0" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="COL1" serializeAs="String">
                <value>10</value>
            </setting>
        </LogsReader.Properties.Settings>
    </userSettings>
</configuration>