<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="chatServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCFChat.Client.BasicControl.MainWindowChatServer" behaviorConfiguration="chatServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8041/ClientServer/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="httpBinding" bindingNamespace="http://localhost/services/chat"  contract="WCFChat.Service.IChat"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    
    
    
    <bindings>
      <wsDualHttpBinding>
        <binding name="httpBinding" 
                 maxBufferPoolSize="67108864"
                 maxReceivedMessageSize="67108864"
                 closeTimeout="23:59:59" openTimeout="23:59:59" receiveTimeout="23:59:59" sendTimeout="00:00:10"
                 >
          <readerQuotas maxStringContentLength="67108864" maxArrayLength="67108864"
                        maxBytesPerRead="67108864" />
          <reliableSession inactivityTimeout="00:20:00" />
          <security mode="None" />
        </binding>
        
        
        
        
        <!-- BEST without DEBUG closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="23:59:59" sendTimeout="00:00:10"
        <reliableSession inactivityTimeout="00:00:20" />-->
        <binding name="WSDualHttpBinding_IMainContract"
                 closeTimeout="00:10:10" openTimeout="00:10:20" receiveTimeout="23:59:59" sendTimeout="00:10:10">
          <reliableSession inactivityTimeout="00:20:20" />
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IChat"
                 closeTimeout="00:10:10" openTimeout="00:10:20" receiveTimeout="23:59:59" sendTimeout="00:10:10">
          <reliableSession inactivityTimeout="00:20:20" />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8040/MainServer" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IMainContract" contract="ServiceReference1.IMainContract"
        name="WSDualHttpBinding_IMainContract" />
      <endpoint address="http://localhost:8040/ChatServer" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IChat" contract="ServiceReference1.IChat"
        name="WSDualHttpBinding_IChat" />
    </client>
  </system.serviceModel>
</configuration>