<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="chatServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="chatServiceBehavior" name="WCFChat.Client.BasicControl.MainWindowChatServer">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="httpBinding"
          bindingNamespace="http://localhost/services/chat" contract="WCFChat.Contracts.IChatContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8041/ClientServer/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    
    
    
    <bindings>
      <wsDualHttpBinding>
        <binding name="httpBinding" closeTimeout="23:59:59" openTimeout="23:59:59"
          receiveTimeout="23:59:59" sendTimeout="00:00:10" maxBufferPoolSize="67108864"
          maxReceivedMessageSize="67108864">
          <readerQuotas maxStringContentLength="67108864" maxArrayLength="67108864"
            maxBytesPerRead="67108864" />
          <reliableSession inactivityTimeout="00:20:00" />
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IMainContract" closeTimeout="00:10:10"
          openTimeout="00:10:20" receiveTimeout="23:59:59" sendTimeout="00:10:10">
          <reliableSession inactivityTimeout="00:20:20" />
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IChat" closeTimeout="00:10:10"
          openTimeout="00:10:20" receiveTimeout="23:59:59" sendTimeout="00:10:10">
          <reliableSession inactivityTimeout="00:20:20" />
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IMainContract1">
          <reliableSession inactivityTimeout="00:20:00" />
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IChat1">
          <reliableSession inactivityTimeout="00:20:00" />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8040/MainServer" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IMainContract" contract="ServiceReference1.IMainContract"
        name="WSDualHttpBinding_IMainContract" />
      <endpoint address="http://localhost:8040/ChatServer" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IChat" contract="ServiceReference1.IChat"
        name="WSDualHttpBinding_IChat" />
      <endpoint address="http://localhost:8040/MainServer" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IMainContract1" contract="ServiceReference1.IMainContract"
        name="WSDualHttpBinding_IMainContract1" />
      <endpoint address="http://localhost:8040/ChatServer" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IChat1" contract="ServiceReference1.IChat"
        name="WSDualHttpBinding_IChat1" />
    </client>
  </system.serviceModel>
</configuration>