<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="FORIS.MessagingGateway.WcfSelfcareService.WcfSelfcareService"
               behaviorConfiguration="mgServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/SelfcareService" />
          </baseAddresses>
        </host>
        <endpoint name="wsSelfcareService"
                  address=""
                  binding="basicHttpBinding"
                  contract="FORIS.MessagingGateway.WcfSelfcareService.ISelfcareService">
        </endpoint>
        <endpoint name="tcpSelfcareService"
                  address="net.tcp://localhost:8001/SelfcareService"
                  binding="netTcpBinding"
                  contract="FORIS.MessagingGateway.WcfSelfcareService.ISelfcareService">
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mgServiceBehaviour">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceThrottling maxConcurrentCalls="10" maxConcurrentSessions="10"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="mainHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>